flask_limiter
anyio
beautifulsoup4
blinker
certifi
charset-normalizer
click
cloudscraper
Flask
h11
httpcore
httpx
idna
itsdangerous
Jinja2
MarkupSafe
pillow
psutil
pyparsing
python-telegram-bot
reportlab
requests
requests-toolbelt
sniffio
soupsieve
typing_extensions
urllib3
Werkzeug